@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1024px){

    html, body {
        background-image: linear-gradient(to bottom, #2f2f83,#66b8b5);
    }

    main > section {
        width: 80vw;
    }

    section#login {
        height: 280px;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
        border-radius: 20px 0px 0px 20px;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }

    div.campo > input {
        width: 100%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {

    html, body {
        background-image: linear-gradient(to bottom, #2f2f83,#66b8b5);
    }

    main > section {
        width: 90vw;
    }

    section#login {
        height: 350px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
        border-radius: 0px 20px 20px 0px;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }

    div.campo > input {
        width: 100%;
    }
}